.gitignore
!.gitignore
!ACTA_CONSTITUTIVA
!ACTA_DE_MATRIMONIO
!ACTA_DE_NACIMIENTO
!BENEFICIARIO_CONTROLADOR
!BOLETA_PREDIAL
!CARATULAS_BANCARIAS
!CHECK_LIST
!COMPROBANTE_DE_DOMICILIO
!CONSTANCIA_AGUA
!CONSTANCIA_MANTENIMIENTO
!CONTRATO
!COPIA_CERTIFICADA
!CURP
!ESTADOS_DE_CUENTA
!ESTATUS_CONSTRUCCION
!FACTURA
!FORMAS_DE_PAGO
!FORMAS_PAGO_FECHA
!INE
!OTROS
!PRESUPUESTO
!PRESUPUESTO_NOTARIA_EXTERNA
!PROYECTO
!PROYECTO_ESCRITURA
!RFC
!RFC_MORAL
!SOLICITUD_PRESUPUESTO
!TESTIMONIO